.title-card {
  color: #ccc;
  text-align: center;

  position: relative;
  z-index: 1;

  text-shadow: 0 0 4px rgba(black, 0.3); }

.title-card .headline {
  line-height: 1.7; }

.title-card h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.3em;
  font-weight: 100;
  color: #fff; }

.title-card p {
  font-family: montserrat, sans-serif;
  color: #fff;
  opacity: 0.5;
  font-size: 1.2em; }

/* body, td, textarea, input {
  font-size: 11pt;
  font-family: proxima nova; } */

/* http://www.flickr.com/photos/rao_anirudh/3971267496/ */
