html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@import url("http://fonts.googleapis.com/css?family=Montserrat");
body,
td,
textarea,
input {
  font-family: Helvetica Neue, Open Sans, sans-serif;
  line-height: 1.6;
  font-size: 13px;
  color: #505050;
}
a {
  color: #3ad;
  text-decoration: none;
}
a:hover {
  color: #2988b1;
}
.content p,
.content ul,
.content ol,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content pre,
.content blockquote {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: bold;
}
.content pre {
  font-family: Menlo, monospace;
}
.content ul > li {
  list-style-type: disc;
}
.content ol > li {
  list-style-type: decimal;
}
.content code {
  font-family: Menlo, monospace;
  background: #ececf3;
  padding: 1px 3px;
  font-size: 0.95em;
}
.content pre > code {
  display: block;
  background: transparent;
  font-size: 0.85em;
  letter-spacing: -1px;
}
.content-root {
  background-color: #ececf3;
  -webkit-box-shadow: inset 800px 0 #fff, inset 801px 0 rgba(0,0,0,0.1), inset 810px 0 10px -10px rgba(0,0,0,0.1);
  box-shadow: inset 800px 0 #fff, inset 801px 0 rgba(0,0,0,0.1), inset 810px 0 10px -10px rgba(0,0,0,0.1);
}
.content {
  padding-top: 30px;
  padding-bottom: 40px;
}
.content.literate {
  width: 930px;
  zoom: 1;
}
.content.literate:before,
.content.literate:after {
  content: "";
  display: table;
}
.content.literate:after {
  clear: both;
}
.content.literate > p,
.content.literate > ul,
.content.literate > ol,
.content.literate > h1,
.content.literate > h2,
.content.literate > h3,
.content.literate > h4,
.content.literate > h5,
.content.literate > h6,
.content.literate > pre,
.content.literate > blockquote {
  width: 550px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
}
.content.literate > h1,
.content.literate > h2,
.content.literate > h3 {
  clear: both;
  width: 100%;
}
.content.literate > pre,
.content.literate > blockquote {
  width: 380px;
  float: right;
  clear: right;
}
.content.literate > pre + p,
.content.literate > blockquote + p,
.content.literate > pre + ul,
.content.literate > blockquote + ul,
.content.literate > pre + ol,
.content.literate > blockquote + ol,
.content.literate > pre + h4,
.content.literate > blockquote + h4,
.content.literate > pre + h5,
.content.literate > blockquote + h5,
.content.literate > pre + h6,
.content.literate > blockquote + h6 {
  clear: both;
}
.content.literate > p,
.content.literate > ul,
.content.literate > ol,
.content.literate > h4,
.content.literate > h5,
.content.literate > h6 {
  float: left;
  clear: left;
}
.content.literate > h1,
.content.literate > h2,
.content.literate > h3 {
  font-family: montserrat;
  padding-bottom: 0;
}
.content.literate > h1 + p,
.content.literate > h2 + p,
.content.literate > h3 + p,
.content.literate > h1 ul,
.content.literate > h2 ul,
.content.literate > h3 ul,
.content.literate > h1 ol,
.content.literate > h2 ol,
.content.literate > h3 ol {
  padding-top: 10px;
}
.content.literate > h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
}
.content.literate > h3 {
  font-size: 1.2em;
}
.content.literate > h2,
.content.literate > h3 {
  padding-top: 80px;
}
.content.literate > h2:before,
.content.literate > h3:before {
  display: block;
  content: '';
  background: -webkit-gradient(linear, left top, right top, color-stop(0.4, rgba(0,0,0,0.15)), color-stop(0.9, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0) 90%);
  background: -moz-linear-gradient(left, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0) 90%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0) 90%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0) 90%);
  background: linear-gradient(left, rgba(0,0,0,0.15) 40%, rgba(0,0,0,0) 90%);
  width: 100%;
  height: 1px;
  position: relative;
  top: -40px;
  left: -40px;
}
.content.literate > h4,
.content.literate > h5 {
  border-bottom: solid 1px rgba(0,0,0,0.15);
  color: #a0a0b0;
  margin-left: 40px;
  width: 490px;
  padding-top: 30px;
  padding-bottom: 7px;
  margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
}
.header {
  background: #ececf3;
  border-bottom: solid 1px rgba(0,0,0,0.15);
  padding: 15px 15px 15px 40px;
  zoom: 1;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header .left {
  float: left;
}
.header .right {
  float: right;
}
.content-root {
  padding-left: 230px;
  position: relative;
}
.content-root .sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 230px;
  border-right: solid 1px rgba(0,0,0,0.15);
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

