support-for-ie = true

@import 'nib'
global-reset()

// Fonts
$body-font = Helvetica Neue, Open Sans, sans-serif
$mono-font = Menlo, monospace

// Margins
$pad = 40px      // Space between things
$minipad = 20px  // Space for mobile
$vmargin = 10px  // Margin between blocks

// Colors
$offwhite = #f3f3f7
$grey = #a0a0b0
$txt = #505050
$accent = #3ad
$line = $offwhite * 0.9

// Dimensions
$sidebar-width = 230px
$content-width = 550px
$pre-width = 380px

// ----------------------------------------------------------------------------
// Fonts

@import url(http://fonts.googleapis.com/css?family=Montserrat)

// ----------------------------------------------------------------------------
// Base

body, td, textarea, input
  font-family: $body-font
  line-height: 1.6
  font-size: 13px
  color:$txt

a
  color: $accent
  text-decoration: none
  &:hover
    color: $accent * 0.8

// ----------------------------------------------------------------------------
// Content styling

.content
  p, ul, ol, h1, h2, h3, h4, h5, h6, pre, blockquote
    padding: $vmargin 0
    box-sizing: border-box

  h1, h2, h3, h4, h5, h6
    font-weight: bold

  pre
    font-family: $mono-font

  ul > li
    list-style-type: disc

  ol > li
    list-style-type: decimal


  code
    font-family: $mono-font
    background: $offwhite
    padding: 1px 3px
    font-size: 0.95em

  pre > code
    display: block
    background: transparent
    font-size: 0.85em
    letter-spacing: -1px

// ----------------------------------------------------------------------------
// Content

.content-root
  position: relative

.content
  padding-top: $pad - $vmargin
  padding-bottom: $pad
  padding-left: $pad
  padding-right: $pad
  clearfix()

  max-width: 700px

  h1, h2, h3
    font-family: montserrat
    padding-bottom: 0

    + p, ul, ol
      padding-top: 10px

  h1, h2
    text-transform: uppercase
    letter-spacing: 1px
    font-size: 1.5em

  h3
    font-size: 1.2em

  // Lines
  h1, h2, h3
    padding-top: $pad * 2
    &:before
      display: block
      content: ''
      background: linear-gradient(left, rgba($line, 1.0) 40%, rgba($line, 0.0) 90%)
      width: 100%
      height: 1px
      position: relative
      top: $pad * -1
      left: $pad * -1

  // Small headings
  h4, h5
    border-bottom: solid 1px rgba(black, 0.07)
    color: $grey
    padding-top: $vmargin * 3
    padding-bottom: 10px

@media (max-width: 480px) /* Mobile */
  .content
    padding: $minipad

@media (max-width: 1180px) /* Small desktop */
  .content
    pre > code
      background: $offwhite
      border: solid 1px $offwhite*0.95
      border-top: solid 1px $offwhite*0.9
      border-left: solid 1px $offwhite*0.93
      display: block
      padding: 10px
      border-radius: 2px
      -webkit-overflow-scrolling: touch
      overflow: auto
    
// ----------------------------------------------------------------------------
// Literate mode content

@media (min-width: 1180px) /* Big desktop */
  .content-root
    background-color: $offwhite
    $w = ($sidebar-width + $content-width)
    box-shadow: inset $w 0 white, inset ($w + 1) 0 rgba(black, 0.1), inset ($w + 10) 0 10px -10px rgba(black, 0.1)

// Literate mode
@media (min-width: 1180px) /* Big desktop */
  .content
    padding-left: 0
    padding-right: 0

    width: $content-width + $pre-width
    max-width: none

    >
      p, ul, ol, h1, h2, h3, h4, h5, h6, pre, blockquote
        width: $content-width
        box-sizing: border-box
        padding-right: $pad
        padding-left: $pad
      h1, h2, h3
        clear: both
        width: 100%
      pre, blockquote
        width: $pre-width
        padding-left: ($pad/2)
        padding-right: ($pad/2)
        float: right
        clear: right
        +
          p, ul, ol, h4, h5, h6
            clear: both
      p, ul, ol, h4, h5, h6
        float: left
        clear: left

      h4, h5
        margin-left: $pad
        width: $content-width - $pad * 2
        margin-bottom: 3px

        padding-left: 0
        padding-right: 0

// ----------------------------------------------------------------------------
// Header

.header
  background: $offwhite
  text-shadow: 0 1px 0 rgba(white, 0.5)
  border-bottom: solid 1px $line
  padding: 15px 15px 15px $pad
  clearfix()

  line-height: 20px

  .left
    float: left
  .right
    float: right

  h1
    font-weight: bold
    font-family: montserrat, sans-serif
    font-size: 16px
    margin-right: 15px

  a
    font-size: 0.88em
    color: $grey
    display: block

    &:hover
      color: $grey*0.6

  @media (min-width: 480px) /* Tablet & Desktop */
    h1
      float: left
    ul, li
      display: block
      float: left

    ul
      border-left: solid 1px $line
    li
      border-left: solid 1px rgba(white, 0.5)
      border-right: solid 1px $line
      &:last-child
        border-right: 0

    a
      padding: 0 15px

@media (max-width: 480px) /* Mobile */
  // Hide extra stuff on mobile
  .right
    display: none

// ----------------------------------------------------------------------------
// Sidebar

.sidebar
  padding: $pad
  box-sizing: border-box

@media (max-width: 480px) /* Mobile */
  .sidebar
    padding: $minipad
    border-bottom: solid 1px $line

@media (min-width: 768px) /* Desktop */
  .content-root
    padding-left: $sidebar-width

  .sidebar
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: $sidebar-width
    border-right: solid 1px $line

  .sidebar.fixed
    position: fixed



